@model System.Collections.Generic.IEnumerable<BUOTOnline.DAL.ViewModels.NoticeViewModel>
@{
    ViewBag.Title = "BUOT Online";
}

@section scripts {
    @Scripts.Render("~/bundles/searchController");
}

<div ng-controller="searchController" ng-init="getLowestCategories()" class="jumbotron">
    <div class="row">
        @using (Html.BeginForm("Category", "Home", FormMethod.Get, new { id = "CategoryForm" }))
        {
            @Html.Hidden("categoryId")

            <div class="col-md-4">
                <div class="form-group">
                    <label for="sel1">Category list:</label>
                    <select ng-change="select()" ng-model="chosenCategory" ng-options="category as category.name for category in categories" class="form-control"></select>
                </div>
            </div>
        }
    </div>
</div>


@foreach (var notice in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @{
                Html.RenderAction("NoticeCategories", "Notice", new { noticeId = notice.Id });
            }
            <div class="row">
                <div class="col-sm-3">
                    <img src="@notice.ImageUrl" class="img-responsive" />
                </div>
                <div class="col-sm-9">
                    <h3 style="margin-top: 0px;">@Html.ActionLink(notice.Title, "Notice", controllerName: "Notice", routeValues: new { id = notice.Id }, htmlAttributes: null)</h3>
                    <h6 style="font-style: italic;">Created at @notice.Created by @notice.Owner</h6>
                    <h6>@notice.Description</h6>
                    @{
                        Html.RenderAction("EditButton", "Notice", new { owner = notice.Owner, noticeId = notice.Id });
                    }
                </div>
            </div>
        </div>
    </div>
}

