@model System.Collections.Generic.IEnumerable<BUOTOnline.DAL.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<ul class="list-group" style="text-align: right;">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <p style="float: left;">@category.Name</p>
            <a href="@Url.Action("EditCategory", "Admin")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i> Edit</a>
            <a href="@Url.Action("RemoveCategory", "Admin")" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-minus-sign"></i> Remove</a>
        </li>
    }
</ul>

<a href="@Url.Action("AddCategory", "Admin")" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Add new category</a>
@*<div>@Html.ActionLink("Add", "AddCategory", "Admin", null, new { @class = "btn btn-success btn-lg glyphicon glyphicon-plus" })</div>*@