@model System.Collections.Generic.IEnumerable<BUOTOnline.Web.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <p style="float: left">@category.Name</p>
            <div style="float: right; padding-left: 2px">@Html.ActionLink("Remove", "Category", "Admin", null, new { @class = "btn btn-danger glyphicon glyphicon-minus" })</div>
            <div style="float: right">@Html.ActionLink("Edit", "Category", "Admin", null, new { @class = "btn btn-primary glyphicon glyphicon-edit" })</div>
            <div style="clear: both" />
        </li>
    }
</ul>

<a href="@Url.Action("AddCategory", "Admin")" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Add new category</a>
@*<div>@Html.ActionLink("Add", "AddCategory", "Admin", null, new { @class = "btn btn-success btn-lg glyphicon glyphicon-plus" })</div>*@